---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

import asanaLogo from "@assets/icons/applications-logos/asana_logo.svg";
import clickupLogo from "@assets/icons/applications-logos/clickup.svg";
import googleCalendarIcon from "@assets/icons/applications-logos/google_calendar_icon.svg";
import googleWorkspaceLogo from "@assets/icons/applications-logos/google_workspace_logo.svg";
import metaPlatformsLogo from "@assets/icons/applications-logos/meta_platforms_inc_logo.svg";
import microsoftTeamsLogo from "@assets/icons/applications-logos/microsoft_office_teams.svg";
import mondayLogo from "@assets/icons/applications-logos/monday_logo.svg";
import notionLogo from "@assets/icons/applications-logos/notion-logo.svg";
import slackLogo from "@assets/icons/applications-logos/slack_technologies_logo.svg";
import zapierLogo from "@assets/icons/applications-logos/zapier_Logo.svg";
import zoomLogo from "@assets/icons/applications-logos/zoom_communications_logo.svg";

export interface AppLogo {
  src: ImageMetadata;
  alt: string;
}

// const { logos, } =
//   Astro.props;
const TITLE = "Our virtual assistants bring experience from";

const LOGOS: AppLogo[] = [
  { src: notionLogo, alt: "Notion" },
  { src: zoomLogo, alt: "Zoom" },
  { src: asanaLogo, alt: "Asana" },
  { src: slackLogo, alt: "Slack" },
  { src: googleWorkspaceLogo, alt: "Google Workspace" },
  { src: googleCalendarIcon, alt: "Google Calendar" },
  { src: microsoftTeamsLogo, alt: "Microsoft Teams" },
  { src: mondayLogo, alt: "Monday" },
  { src: clickupLogo, alt: "ClickUp" },
  { src: metaPlatformsLogo, alt: "Meta" },
  { src: zapierLogo, alt: "Zapier" },
] as const;

// Duplicate for seamless loop
// const duplicatedLogos = [...LOGOS, ...LOGOS];
const duplicatedLogos = [...LOGOS];
---

<!-- lg:pt-34 -->
<section class="relative overflow-hidden py-12 md:py-16 lg:pt-10 lg:pb-44">
  <div class="mx-auto px-4">
    <!-- Title -->
    {
      TITLE && (
        <h2 class="mx-auto mb-21.25 max-w-lg text-center text-[25px] leading-[130%] font-light text-primary italic md:text-[1.5625rem]">
          {TITLE}
        </h2>
      )
    }

    <!-- Logos Carousel -->
    <div
      class="scrollbar-hide relative mx-auto flex w-full items-center justify-end overflow-x-auto"
    >
      {
        [...Array(2)].map((_, i) => (
          <div
            aria-hidden={i === 1}
            class="grid animate-move-to-right grid-rows-1 gap-32.5 pl-32.5"
            style={`grid-template-columns: repeat(${duplicatedLogos.length},1fr);`}
          >
            {duplicatedLogos.map((logo) => (
              <Image
                src={logo.src}
                alt={logo.alt}
                class="h-20 w-max object-contain"
              />
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>
